    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>Write a longer detailed description here... Bacon ipsum dolor amet boudin short loin venison, cow shank beef ribs drumstick. Picanha boudin hamburger filet mignon turducken flank, swine andouille leberkas ham bresaola ground round.</p>
                <p>Tri-tip swine fatback bresaola, porchetta rump doner kevin bacon filet mignon. Boudin shank flank chicken filet mignon swine. Turkey rump boudin, ham pork loin strip steak t-bone pig doner flank short loin pork chop prosciutto drumstick. Sirloin bacon ham picanha shankle andouille swine beef ribs. Tail filet mignon ball tip cupim venison.</p>
            </div>
        </div>
    </section>
